body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 90px; /* Asegura que el contenido no quede oculto detrás de los sliders fijos en la parte superior */
}

.sliders {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around; /* Distribuye los sliders uniformemente */
    flex-wrap: wrap; /* Permite que los sliders se ajusten en múltiples líneas en pantallas pequeñas */
}

.slider-container {
    flex: 1 1 100%; /* Hace que cada slider ocupe el ancho completo en pantallas pequeñas */
    margin: 10px;
}

#plot, #attenuation-plot, #phase-shift-plot {
    display: inline-block;
    vertical-align: top;
    width: 70%; /* Ajuste del ancho para dejar espacio a las fórmulas */
    max-width: 800px; /* Limita el ancho máximo para evitar que sean demasiado grandes en pantallas grandes */
    height: auto; /* Ajusta la altura automáticamente */
}

.formula-box {
    display: inline-block;
    vertical-align: top;
    width: 25%; /* Espacio para las fórmulas ajustado de 30% a 25% */
    padding: 5px; /* Padding reducido para un aspecto más compacto */
    box-sizing: border-box;
    font-family: 'Courier New', monospace; /* Esto es para mejorar la visibilidad del texto de la fórmula */
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 20px; /* Tamaño de fuente reducido para mantener la proporción */
    margin-top: 20px; /* Alinea con los gráficos si es necesario */
}
