body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 90px;
}

.sliders {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.slider-container {
    flex: 1 1 100%;
    margin: 10px;
}

#plot, #attenuation-plot, #phase-shift-plot {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 800px;
    height: auto;
}

.formula-box {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}

/* Media Query for devices with a max width of 768px */
@media (max-width: 768px) {
    .formula-box, #plot, #attenuation-plot, #phase-shift-plot {
        width: 100%;
        display: block;
        max-width: none;
        margin-top: 10px;
    }
}
